rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
             (request.auth.token.email in get(/databases/$(database)/documents/settings/config).data.adminEmails ||
              request.auth.token.email == 'admin@earlalex.com');
    }

    match /settings/config {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || isAdmin());
    }
  }
}
